<!DOCTYPE html>
<html>
<head>
    <title>TEST</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>ORDERS</h1>
<% for (var i = 0; i < results.length; i++) { %>
<li>
    <div>
        <span style="text-align:left">
            <%= results[i] %>
        </span>
    </div>
</li>
<% } %>
</body>
</html>
